@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  cursor: default;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  /* text-align: center; */
  background-color: #fefae0;
  margin-top: 4rem;
  color: #283618;
}
.container {
  /* background-color: white; */
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
  justify-content: center;
  min-width: 300px;
  box-shadow: 0px 2px 7px 2px rgba(188, 108, 37, 0.6);
  padding: 1rem;
}
.container__tracker,
.container__meals {
  width: 100%;
}
.form__container {
  /* border: 2px solid red; */
  /* text-align: center; */
}
.form__container div {
  display: flex;
  /* border: 2px solid red; */
  margin-block: 0.5rem;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  box-shadow: 0px 2px 3px 1px rgba(188, 108, 37, 1);
  background-color: #dda15e;
  border-radius: 4px;
  /* width: 100%; */
}
.form__container div label {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  width: 50%;
}
.form__container div input {
  width: 50%;
  height: 100%;
  text-align: left;
  padding-left: 1rem;
  border: none;
  /* background-color: #bc6c25; */
  cursor: pointer;
  font-size: 0.7rem;
  border-radius: 4px;
}
.form__container div input:focus {
  outline: none;
}
.btn {
  cursor: pointer;
  background-color: rgb(0, 255, 47);
  border: none;

  width: 100%;
  height: 2rem;
}
.btn {
  margin-block: 0.5rem;
  cursor: pointer;
  background-color: #fefae0;
  box-shadow: 0px 2px 3px 1px rgba(96, 108, 56, 0.4);
  width: 100%;
  height: 2rem;
}
.btn.disable {
  color: #606c38;
  cursor: not-allowed;
}
/* V2 MEAL LIST */
.list__header {
  margin-top: 1rem;
}
.meal__summmary-container {
  margin-block: 1rem;
}
.meal__summmary {
  padding: 0.5rem;
  display: flex;
  height: 50px;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 2px rgb(166, 166, 166);
  cursor: pointer;
  position: relative;
}
.meal__summmary__info h4:nth-child(2) {
  font-size: 0.85rem;
}
.meal__total-cal {
}

.delete-btn {
  visibility: hidden;
  /* opacity: 0; */
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 300ms ease-out;
  width: 0%;
  background-color: red;
  color: white;
  cursor: pointer;
}
.delete-btn span {
  opacity: 0;
  transition: opacity 200ms ease;
  cursor: pointer;
}
.meal__summmary:hover .delete-btn span {
  opacity: 1;
}

.meal__summmary:hover .delete-btn {
  text-align: center;

  opacity: 1;
  border: 1px solid rgb(166, 166, 166);
  width: 100%;
  transition: width 200ms ease;
  visibility: visible;
}
/* MACRO GOALS */
.intake {
  display: flex;
}
.intake input:focus {
  outline: none;
}
.intake__slider {
  width: 80%;
  cursor: pointer;
}
.intake__number {
  width: 20%;
  cursor: auto;
}
.total-calories.active {
  color: red;
}
